/* Fonts */
/* H1 */
@font-face {
  font-family: 'Playfair Display SC';
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display SC Regular'), local('PlayfairDisplaySC-Regular'), url(https://fonts.gstatic.com/s/playfairdisplaysc/v8/ke85OhoaMkR6-hSn7kbHVoFf7ZfgMPr_lbkMFQ.ttf) format('truetype');
}
/* Headers */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'), url(https://fonts.gstatic.com/s/playfairdisplay/v14/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYhQ.ttf) format('truetype');
}
/* Body */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
/* Business Name */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
/*
font-family: 'Playfair Display SC', serif;
font-family: 'Playfair Display', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.25;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  display: flex;
}
html,
body {
  height: 100%;
  font-family: Montserrat;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Playfair Display;
  margin-bottom: 0.5em;
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  color: #781150;
}
h1 {
  font-variant: small-caps;
  font-size: 7.2em;
  font-weight: 500;
  justify-content: space-evenly;
  color: #EC4888;
}
h2 {
  font-size: 3.6em;
  font-weight: 600;
  margin: 0 10% 4%;
}
h3 {
  font-family: Raleway;
  font-size: 2.4em;
  font-weight: 700;
  margin: 0 10% 1%;
  color: #EC4888;
}
h4 {
  font-size: 1.8em;
  color: #FF850F;
  margin: 0 10% 2%;
}
h6 {
  font-size: 1.2em;
  font-weight: 600;
  color: #781150;
  padding-bottom: 1em;
  justify-content: center;
}
p {
  font-size: 1.6rem;
  margin: 1% 10% 3%;
}
.first-para::first-letter {
  font-family: Playfair Display;
  font-size: 250%;
  font-weight: 700;
  color: #FF850F;
  margin: 0 0 0 1em;
}
.container {
  width: 100%;
  background-color: #F1F1F1;
}
nav ul,
.contact li {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav li {
  text-align: center;
  float: left;
  margin: 0 8.25%;
}
nav a {
  text-decoration: none;
  color: #FF850F;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 1.4em;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1em;
  margin: 10px auto;
}
nav a:hover,
.contact a:hover {
  color: #EC4888;
  font-weight: 900;
}
nav a:last-child {
  display: flex;
  justify-content: right;
}
.amber-text h2,
.contact h2 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0;
  font-variant: small-caps;
}
.Amber img {
  margin: 2em auto 0;
  display: flex;
  border-radius: 50%;
  width: 35%;
}
.contact li {
  justify-content: space-evenly;
  float: left;
  margin: 1.2% 12%;
}
.contact li a {
  text-decoration: none;
  color: #FF850F;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 1.6em;
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 0 10%;
}
.intro,
.skills,
.work-history,
.contact {
  text-align: left;
  padding: 0 1% 5%;
  margin: 0 10%;
}
footer {
  padding-top: 4em;
  padding-bottom: 1em;
  margin: 0 10%;
  text-align: center;
}
